@import url("../style/base.css");

.info-container {
    display: inline-block;
    font-family: sans-serif;
    margin: 72px 0;
    gap: 20px;
    padding: 0 180px;
    color: var(--secondary-background-color);

    .group-intro {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        
        h1 {
            font-size: 2.3rem;
            color: var(--secondary-background-color);
        }

        p {
            font-size: 1.1rem;
            color: black;
        }

        .group-quicklink {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            row-gap: 20px;
            column-gap: 30px;
            
            a {
                text-decoration: none;
                border-bottom: 2px solid var(--secondary-background-color);
                font-weight: 600;
                padding: 0 0 10px;

                &:hover {
                    border-bottom: 4px solid var(--secondary-background-color);
                }

            }

        }
    }
}